

<br>
{{#if user}}<a href="/shopping-list">See your shopping list</a>{{/if}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>hello {{user.username}}</h1>


<h2>All Recipes</h2>
{{#each recipeList}} 
{{this.title}}
{{this.image}}
<a href="/{{_id}}">See the details</a>
{{/each}}
<br>




